[Unit]
Description=MySQL master node

[Service]
EnvironmentFile=/etc/systemd/system/mysql-config
ExecStart=/usr/bin/docker run --name mysql-master \
	-p ${MYSQL_SLAVE_PORT}:3306 \
	-v ${MYSQL_PERSISTED_DATA_PATH}:/var/lib/mysql \
	-e INNODB_BUFFER_POOL_SIZE=${SLAVE_INNODB_BUFFER_POOL_SIZE} \
	-e SERVER_ID=${MYSQL_SLAVE_SERVER_ID} \
	-e MYSQL_PASS=${MYSQL_PASS} \
	mysql /start.sh

ExecStop=/usr/bin/mysqladmin -uadmin -p${MYSQL_PASS} -h172.17.42.1 -P${MYSQL_SLAVE_PORT} shutdown

# Output needs to appear in instance console output
StandardOutput=journal+console

[Install]
WantedBy=mysql-slave.service
